# Compiled Lua sources
luac.out
.nvim
.nvim_*

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# plugins
*.nvim
nvim-*
cmp-*
plugin/packer_compiled.lua
LuaSnip/
alpha-nvim/
cmp_*/
coc-*/
coq.*/
*.vim/
friendly-snippets/
lualine-lsp-progress/
neogit/
vim-*/

# environment::
env/
home/
.gitconfig
.p10k.zsh
gh/

